label {
    display: block; /* Задает элемент метки как блочный */
    font-weight: bold; /* Задает полужирное начертание для текста метки */
}

.add-form-container {
    width: 15%;
    margin-left: 2%;
    margin-right: 2%;
}

.save-button[type = "submit"] {
    width: 100%; /* Занимает 100% ширины родительского элемента */
    height: 30px; /* Задает высоту кнопки сохранения */
    line-height: 0; /* Удаляет отступы между строками в кнопке сохранения */
}