table {
    width: 100%; /* Занимает 100% ширины родительского элемента */
    border-collapse: collapse; /* Убирает отступы между ячейками таблицы */
}

.empty-table {
    text-align: center;
}

td {
    padding: 8px; /* Устанавливает отступ внутри ячейки */
    text-align: left; /* Выравнивает текст в ячейке по левому краю */
    border-bottom: 1px solid #1E1F26; /* Добавляет нижнюю границу для ячейки */
    height: 30px; /* Задает высоту ячейки */
}

th {
    background-color: #283655; /* Задает фоновый цвет для заголовка таблицы */
    color: white; /* Задает цвет текста для заголовка таблицы */
    padding: 8px; /* Устанавливает отступ внутри заголовка таблицы */
    text-align: left; /* Выравнивает текст в заголовке таблицы по левому краю */
    border-bottom: 1px solid #ddd; /* Добавляет нижнюю границу для заголовка таблицы */
    height: 7.5%; /* Задает высоту заголовка таблицы */
}

.delete-button[type = "submit"] {
    padding: 5px 20px; /* Устанавливает отступы внутри кнопки удаления */
    font-size: 10px; /* Задает размер шрифта для кнопки удаления */
    text-align: center; /* Выравнивает текст в кнопке удаления по центру */
    text-decoration: none; /* Удаляет подчеркивание ссылки в кнопке удаления */
    border-radius: 4px; /* Задает скругление углов для кнопки удаления */
    border: none; /* Удаляет границу для кнопки удаления */
    cursor: pointer; /* Задает курсор при наведении на кнопку удаления */
}

.table-container {
    flex: 1 1 auto; /* Растягивается на всю доступную ширину */
}